celery
dash
dash-bootstrap-components
dash-extensions
Flask-Caching
ijson
numpy
joblib
orjson
pandas
python-dotenv
scikit-learn
SQLAlchemy
sqlparse
ujson
xgboost
pyarrow
matplotlib
plotly
pdfplumber

